// COLORS
$color-primary: #415961;
$color-primary-dark-1: #0f2d3a;

$color-primary-dark: #e6c36c;
$color-primary-light: #ffe67f;

$color-secondary: #040404;
$color-secondary-dark: #1c1c1c;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-red-dark-1: #a35252;

//FONTS
$font-primary: "Nunito", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 /16 = 62.5% 1rem
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  background-color: white;
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows:
    85vh
    min-content
    min-content
    //repeat(3, min-content)
    auto
    50rem
    40rem;
}
