// COLORS
$color-primary: #415961;
$color-primary-dark-1: #0f2d3a;
$color-front-deal: #29383d;

$color-primary-dark: #e6c36c;
$color-primary-light: #ffe67f;
$color-back-deal: #e5cc99;
$color-secondary: #040404;
$color-secondary-dark: #1c1c1c;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-red-dark-1: #a35252;

//FONTS
$font-primary: "Nunito", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 /16 = 62.5% 1rem
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 8 /16 = 50%
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 43.75%; // 7 /16 = 43.75%
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  background-color: white;
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows:
    85dvh
    min-content
    min-content
    //repeat(3, min-content)
    auto
    52rem
    auto;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: 6rem 85vh auto min-content auto 58rem auto;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows:
      6rem
      85dvh
      auto
      auto
      min-content
      //repeat(3, min-content)
      auto
      58rem
      auto;
  }
}
