.deals {
  background-color: $color-grey-light-1;
  grid-row: 4 / 5;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-gap: 5rem;
  padding: 5rem;

  &__title {
    grid-column: 1/2;
    height: 2rem;
    align-items: center;
  }
  &__btn {
    grid-column: 2/3;
    height: 2rem;
  }

  &__week {
    grid-column: 1/3;
    background-color: $color-grey-light-2;
    border-radius: 2rem;
    height: 36rem;

    & .week-container {
      width: 85%;
      height: 75%;
      position: relative;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      background-color: aquamarine;
      border-radius: 2rem;
    }
  }
  &__bulk {
    grid-column: 2/3;
    background-color: $color-grey-light-2;
    border-radius: 2rem;
    height: 32rem;
    & .bulk-container {
      position: relative;
      width: 50%;
      height: 90%;
      border-radius: 2rem;
      background-color: aquamarine;
      left: 45%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__family {
    grid-column: 1/2;
    background-color: $color-grey-light-2;
    border-radius: 2rem;
    height: 32rem;

    & .family-container {
      position: relative;
      left: 50%;
      width: 50%;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      background-color: aquamarine;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;

      & .family-content {
        width: 110%;
        height: 90%;
        background-color: blue;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        position: relative;
        top: 10%;
        left: -10%;
      }
    }
  }
}
