.features {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 6rem;
  margin: 13rem 0;

  @media only screen and (max-width: $bp-large) {
    grid-row: 3/4;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-row: 4/5;
  }
}

.feature {
  display: grid;
  grid-template-columns: minmax(4rem, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  justify-items: center;
  transform: translateY(15rem);
  opacity: 0;
  transition: all 1s ease-out;
  &__icon {
    font-size: 3rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }
  &__text {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
  }
}

.revealed {
  opacity: 1;
  transform: translateY(0);
}
