.foods {
  grid-row: 3 / 4;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  justify-items: center;
  margin: 4rem 0;
  grid-gap: 6rem;

  @media only screen and (max-width: $bp-large) {
    grid-row: 4/5;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-row: 5/6;
  }
}

.food {
  // background-color: $color-grey-light-2;
  // height: 37rem;
  width: 32rem;
  opacity: 0.95;

  &__img {
    background-size: cover;
    background-position: center;
    // height: 83%;
    height: 32rem;
    border-radius: 50%;
    border: 5px solid currentColor;

    &--1 {
      background-image: url("../img/burger.jpg");
    }
    &--2 {
      background-image: url("../img/drinks.jpg");
    }
    &--3 {
      background-image: url("../img/steak.jpg");
    }
    &--4 {
      background-image: url("../img/fries.jpg");
    }
    &--5 {
      background-image: url("../img/pizza.jpg");
    }
    &--6 {
      background-image: url("../img/coffee.jpg");
    }
  }

  &__description {
    text-align: center;
    /* margin-top: 2rem; */
    padding: 2rem;
    position: relative;
    font-size: 2.9rem;
    font-style: italic;
    font-weight: 600;

    // border-bottom: 2px solid rgb(109, 93, 75);

    &::before {
      content: "";
      height: 2px;
      width: 35%;
      position: absolute;
      background-color: rgb(109, 93, 75);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.15px;
    text-align: center;
  }
}
