.sidebar {
  background-color: $color-primary;
  grid-row: 1/-1;
  grid-column: sidebar-start / sidebar-end;
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 20;
  transition: width 0.3s ease-out;

  // &:hover {
  //   width: 30rem;
  // }
  & .hamburger-wrapper {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  & .hamburger {
    display: block;
    width: 3.7rem;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease;
    transform: rotate(0);
  }
  .menu {
    position: relative;
    top: 16rem;
    height: 60rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -2;
  }
}

.side-menu {
  position: absolute;
  z-index: 3;
  display: none;
}

.side-menu:checked + .sidebar {
  width: 30rem;
}

.side-menu:checked + .sidebar .menu-item {
  opacity: 1;
  z-index: 30;
}

.side-menu:checked + .sidebar .hamburger {
  width: 3rem;
  &:nth-child(1) {
    transform: rotate(225deg) translateY(-5.5px);
  }

  &:nth-child(2) {
    display: none;
    opacity: 0;
  }

  &:nth-child(3) {
    transform: rotate(-225deg) translateY(5.5px);
  }
}
